<div class="wrapper">
  <h3>I am reading</h3>
  <div class="cards" *ngFor="let item of ToRead | json">
      <div class="col-md-3">
      <a href="">
        <img [src]="item.relationships.photos.links.url">
      </a>
    </div>
      <div class="col-md-9 info">
      <div>
        <a>
          {{item.relationships.author.data.name | json}}
        </a>
      </div>
      <div>
        <a>
          {{item.attributes.title | json}}
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

</div>