.wrapper{
    background-color: #010742;
    padding: 5px 15px;
}
ul{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    display: inline-block;
    width: 20%;
    margin: 10px;
}
img{
width: 100%;
}